/* BASE STYLES */

@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}



body {
    background: #F5F4F8;
    color: #21282c;
    font-family: 'Oswald', 'Arial', 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', 'Arial', 'Helvetica', sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
}

h2 {
    font-size: 40px;
}

.primary-red > h2{
    right: 65%;
}

header {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

section {
    width: 100%;
    margin: 0;
    min-height: 100vh;
}

/*utils*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*
    COLORS:
    red: #eb105c 
    blue: #29c0e6
    dark: #21282c
    light: #F5F4F8
*/

.primary-red {
    color: #eb105c !important;
}

.primary-blue {
    color: #29c0e6 !important;
}

.dark {
    color: #21282c !important;
}

.light {
    color: #F5F4F8 !important;
}

.bg-primary-red {
    background: #eb105c !important;
}

.bg-primary-blue {
    background: #29c0e6 !important;
}

.bg-dark {
    background: #21282c !important;
}

.bg-light {
    background: #F5F4F8 !important;
}

/* MENU */ 

/* estilo de boton flotante 
.menu-floating-button {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #29c0e6;
    color: #F5F4F8;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}
*/

nav.menu {
    z-index: 30;
}

nav.menu > ul {
    padding: 0;
    margin: 25px 25px;
    text-align: right;
    list-style: none;
    font-family: 'Oswald', 'Arial', 'Helvetica', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

nav.menu > ul > li {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
}

nav.menu > ul > li a {
    color: #21282c;
    text-decoration: none;
}

nav.menu > ul > li:first-of-type a {
    color: #eb105c;
}

nav.menu > ul > li:nth-of-type(3) a {
    color: #29c0e6;\
}



/* HEADER */


header .title-wrapper {
    width: 248px;
    margin: 0 auto;
}

header h1 {
    display: inline-block;
    font-size: 50px;          
    margin-bottom: 0px;
    text-align: right;
    z-index: 30;
}

header h2 {
    margin-top: 0px;
    font-size: 24px;
    letter-spacing: 0.03em;
    text-align: right;
    margin-bottom: 30px;
    z-index: 30;
}

header .profile {
    margin-top: 25px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 4px;
    border: 2px solid #21282c;
    z-index: 300;
}

header  {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


header .header-content {
    margin: 0 40px;
    text-align: center;
    z-index: 30;
    pointer-events: none;
}
.particle-wraper{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 65vh;
}

#particle-canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header  .bio-content {
    font-size: 20px;
    margin: 0 15%;
    text-align: center;
}

/* HABILIDADES */

#habilidades {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#habilidades > h2 {
    text-align: center;
}

.container {
    margin: 0 10%;
}

.habilidades-grid {
    max-width: 840px;
}

.col-3 {
    width: 32.1%;
    padding: 0; margin: 0;
    display: inline-block;
    vertical-align: top;
}

.habilidad {
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px;
}

.habilidad i.fa,
.habilidad i.fab,
.habilidad i.fas {
    font-size: 52px;
    color: #eb105c;
}

.habilidad > h5 {
    font-size: 26px;
    font-family: 'Oswald', 'Arial', 'Helvetica', sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    margin: 20px auto;
    height: 36px;
    line-height: 36px;
}

/* ACERCA DE MI */

#acerca-de {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-content {
    text-align: justify;
    width: 85%;
    max-width: 1000px;
}

.about-content-img {
    width: 50%;
    max-width: 400px;
    height: auto;
    float: left;
    margin: -3px 30px 20px 30px;
}

#activities-content{
    text-align: justify;
}

.activities-img {
    width: 50%;
    max-width: 400px;
    height: auto;
    float: right;
    margin: 5px 30px 20px 30px;
}


@media screen and (max-width: 480px){
    nav.menu {
        display: none;
    }

    .about-content-img {
        width: 90%;
        max-width: 400px;
        height: auto;
        float: center;
        margin: 0px 30px 20px 20px;
    }

    .activities-img {
    width: 90%;
    max-width: 400px;
    height: auto;
    float: center;
    margin: 5px 20px 20px 30px;
    }
}
/* CONTACTO */

#contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contacto > .form {
    width: 75%;
    max-width: 520px;
}

#contacto > .form .form-group {
    margin: 25px 0;
    font-size: 18px;
}

#contacto > .form label {
    font-weight: bold;
}

#contacto > .form input,
#contacto > .form textarea {
    width: 100%;
    border-bottom: 1.5px solid #29c0e6;
    background: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
}

#contacto > .form input:focus,
#contacto > .form textarea:focus {
    box-shadow: none;
    outline: none;
}

#contacto > .form input {
    height: 32px;
    line-height: 32px;
}

#contacto > .form button {
    font-size: 18px;
    border: none;
    background: #eb105c;
    width: auto;
    font-weight: bold;
    color: #F5F4F8;
    padding: 10px 15px;
    height: 40px;
    border-radius: 5%;
}

#download-cv {
    margin: 30px 0;
    font-size: 28px;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: #29c0e6;
    color: #eb105c;
    font-family: 'Anton', 'Arial', 'sans-serif';
}

/* FOOTER */

footer {
    background: #21282c;
    color: #F5F4F8;
    min-height: 80px;
    margin: 0;
    width: 100%;
}

footer a {
    color: #F5F4F8;
    text-decoration: none;
}

footer .container > ul {
    margin: 0;
    padding: 20px;
    list-style: none;
    text-align: center;
}

footer .container > ul > li {
    display: inline-block;
    vertical-align: center;
    font-size: 42px;
    margin: 0 10px;
}

footer .container > ul > li > a {
    padding: 0;
    line-height: 20px;
}

@media screen and (max-width: 480px){
    nav.menu {
        display: none;
    }

    .about-content-img {
        width: 90%;
        max-width: 400px;
        height: auto;
        float: center;
        margin: 0px 30px 20px 20px;
    }

    .activities-img {
    width: 90%;
    max-width: 400px;
    height: auto;
    float: center;
    margin: 5px 20px 20px 30px;
    }

    .particle-wraper{
        height: 30vh;
    }

    .habilidad i.fa,
    .habilidad i.fab,
    .habilidad i.fas {
        font-size: 30px;
        color: #eb105c;
    }

    .habilidad > h5 {
        font-size: 15px;
    }
    footer .container > ul {
        padding: 10px;
        font-size: 12px;
    }

    .habilidad{
        height: 150px;
    }
}

@media screen and (max-width: 600px){
    .particle-wraper{
        height: 50vh;
    }
}